<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3>{{ticket.title}} Titre</h3>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ticket.student}}
  <div class="ticket-container">
    <div class="ticket" *ngIf="ticket.major=='computer'">
      <i class="fa fa-laptop"></i>
      <span class="ticket-text">Computer</span>
    </div>
  </div>

<div class="ticket-container">
  <div class="ticket" *ngIf="ticket.major=='Science'">
    <i class="fa fa-flask"></i>
    <span class="ticket-text">Science</span>
  </div>
</div>
<div class="ticket">
  <button (click)="deleteTicket()"><i class="fa fa-trash"></i></button>
</div>
</div>